{% extends 'django_course_app/base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="row g-0">
            <div class="card-header">
                <p><h4 class="card-title">
                <strong>{{ object.name }}</strong>
            </h4></p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <small>Created at: <strong>{{ object.created_at|date:"d.m.Y H:i:s" }}</strong>, Modified at:
                        <strong>{{ object.modified_date|date:"d.m.Y H:i:s" }}</strong></small>
                    <div class="btn-group">
                        <a href="{% url 'django_course_app:update_client' object.pk %}"
                           class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="{% url 'django_course_app:delete_client' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}