{% extends 'django_course_app/base.html' %}
{% load static %}
{% block content %}
    <div class="mx-auto p-2 mt-5">
        <h1 class="h3 mb-3 fw-normal">Редактирование данных клиента:</h1>
        <hr class="my-4">
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="id_name" class="form-label">ФИО:</label>
                            <input type="text" name="first_name" class="form-control" id="id_name"
                                   value="{{ object.name }}" maxlength="100" required="">
                        </div>
                        <div class="col-12">
                            <label for="id_email" class="form-label">Email:</label>
                            <input type="email" class="form-control" name="email" id="id_email"
                                   value="{{ object.email }}">
                        </div>
                        <div class="col-12">
                            <label for="id_comment" class="form-label">Комментарий:</label>
                            <textarea class="form-control" name="comment" cols="40" rows="10"
                                      id="id_comment">{{ object.comment }}</textarea>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="d-grid gap-2 col mx-auto">
                        <button type="submit" class="w-100 btn btn-primary btn-lg">Сохранить</button>
                        <a href="{% url 'index:list_clients' %}" class="w-100 btn btn-danger btn-lg g-4">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}