{% extends 'django_course_app/base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-8">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Mailing Service</h1>
            </div>
        </div>
    </div>

    {#    <div class="row text-center">#}
    {#        <div class="col-4">#}
    {#            <div class="card mb-4 box-shadow d-flex">#}
    {#                <h3 class="card-header">Клиенты</h3>#}
    {#                <div class="card-body d-flex flex-column">#}
    {#                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">#}
    {#                        <p>- Просмотр пользователей</p>#}
    {#                        <p>- Добавление пользователей</p>#}
    {#                        <p>- Редактирование пользователей</p>#}
    {#                        <p>- Удаление пользователей</p>#}
    {#                    </ul>#}
    {#                    <a href="{% url 'django_course_app:clients' %}"#}
    {#                       class="btn btn-primary btn-block btn-outline-dark mt-auto">Show</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-4">#}
    {#            <div class="card mb-4 box-shadow d-flex">#}
    {#                <h3 class="card-header">Сообщения</h3>#}
    {#                <div class="card-body d-flex flex-column">#}
    {#                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">#}
    {#                        <p>- Просмотр сообщений</p>#}
    {#                        <p>- Добавление сообщений</p>#}
    {#                        <p>- Редактирование сообщений</p>#}
    {#                        <p>- Удаление сообщений</p>#}
    {#                    </ul>#}
    {#                    <a href="{% url 'django_course_app:messages' %}"#}
    {#                       class="btn btn-primary btn-block btn-outline-dark mt-auto">Show</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-4">#}
    {#            <div class="card mb-4 box-shadow d-flex">#}
    {#                <h3 class="card-header">Рассылки</h3>#}
    {#                <div class="card-body d-flex flex-column">#}
    {#                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">#}
    {#                        <p>- Добавление рассылок</p>#}
    {#                        <p>- Редактирование рассылок</p>#}
    {#                        <p>- Удаление рассылок</p>#}
    {#                    </ul>#}
    {#                    <a href="{% url 'django_course_app:schedules' %}"#}
    {#                       class="btn btn-primary btn-block btn-outline-dark mt-auto">Show</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}